* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: inherit;
} 



html, body {
    margin: 0;
    padding: 0;
    background:white;
}

.logo {
    width: 120px;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
}


.maintext {
	background: white;
}

.headertext {
    background:none;
    text-align: left;
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}



.bg--yellow {
  background:#fed201;
  padding: 0;
  margin: 0;
  height: 530px;
  width:100%;
  position: relative;
  
}



.bg--white {
  height:auto;
  background: #F6F6F6;
  margin: 0px auto;
  width: 100%;
  display:"block";
  position: relative;
  
}



.bg--blue {
  height:200px;
  background: #2a299e;
  margin: 120px auto;
  width: 100%;
  display:"block";
  position: relative;
  overflow: auto;
}


.bg--yellow--2{  
  border-radius: 25px;
  background: white;
  padding: 10px;
  margin: auto;
  height: 350px;
  position: relative;
  max-width:870px;
  
} 

.header__items {
	margin-top:14px;
    float:right;
    padding-right:10px;
}

.header__item, .footer__item {
    display: inline-block;
}
.header__item, .footer {
    font-size: .916667em;
    font-weight: 500;
}

.header__link, .footer__link {
    cursor: pointer;
    font-size: 16px;
    color: grey;
}

.header__link--button {
    background: #2a299e;
    color: #fff;
    margin-left: 0.5em;
    cursor: pointer;
    color: white;
    
}

.header__link--button:hover {
    background: #6969ba;
}

a.header__link:hover, a.footer__link:hover {
	color:white;
	text-decoration:none;
}

.understandmore {
	font-size: .916667em;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    color: grey;
	background: #2a299e;
    color: #fff;
    cursor: pointer;
    color: white;
    display: inline-block;
    padding: 7px 25px 7px;
    border-radius: 50px; 
    margin-top: 10px;  
}

.understandmore:hover {
    background: #6969ba;
}

a.understandmore:hover {
	color:white;
	text-decoration:none;
}


.button, .article__tag__link, .header__link, .footer__link, .button--large, .feature__button, [class$="__button"]:not(.plan-card__button) {
    display: inline-block;
    padding: 4px 0.5em 6px;
    border-radius: .25em;
}

.services__link--button {
	font-size: 20px;
	width: 175px;
    height:45px;
	border-radius: 40px;
	margin-top: 30px;
    background: #2a299e;
    color: #fff;
    cursor: pointer;
    color: white;
	display: flex;
    align-items: center;
    justify-content: center;
}



.cards_container {
  position: relative;
  width: 100%;
  height: 390px;
  margin: 0;
  padding: 0;
  z-index:0;
}

.left_section {
  display: flex;	
  justify-content: center;
  align-items: center;
  position: absolute; 
  height: inherit;
  width: 350px;
  height: 100%;
  background: #f96328;
  float: left;
  margin-top: -75px;
  z-index: -1;


}

.card_section {

  height: 100%;
  margin-left: 350px;
  
}

.card_section_bg {
  background:#2a299e; 
  height: 100%;
  margin-left: 350px;
  z-index: -1;
}


.left_text {
	color:white; 
	font-weight: 550;
}



.header__2 {
	text-align:center;
	top: 10px;
}

.header__3 {
	text-align:center;
	margin-top: 50px;
	color: #2a299e;
	font-weight: 700;
	font-size:50px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header__4 {
	text-align:center;
	margin-top: 0px;
	color: #2a299e;
	font-weight: 700;
	font-size:50px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subheader__3 {
	text-align:center;
	margin-top: 0;
	color: black;
	font-size:25px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header_container{	
	display: block;
	margin:auto;
	height:300px;
}


.header__4 {
	text-align:center;
	padding-top: 10px;
	color: #2a299e;
	font-weight: 700;
	font-size:50px;
}


.bg--green { 
  background:#8DCF3F;
  margin: auto;
  width: 100%;
  display:"block";
  position: relative;
  height:200px;  
}


.simple-easy-fast {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  margin: 0px auto 0px auto;
  padding: 50px;
  place-items: center;
  justify-content: center;
  background: #F6F6F6;
  
  @media only screen and (max-width: 600px) {
  simple-easy-fast {
    background-color: lightblue;
  }
}
}

.simple-easy-fast-char{
	text-align:center;
    color: #444444;
	font-family:'Helvetica Neue', sans-serif; 
	font-size: 50px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1;	
}

.simple-easy-fast-small-char {
	text-align:center;
	text-orientation: upright;
	margin:15px auto;

	
}

.duck-image {
	margin: 10px auto;
	height: 120px;
	width: 120px;
}
	
.wave {
	margin-top:0px;
}

.flex-grid-app-explain {
  display: flex;
  margin:100px auto;
  gap: 30px;
  max-width: 1020px;
  padding:30px; 
}
.flex-grid-app-explain .col {
  flex-direction: column;
  display: flex;
  justify-content: center;
  position: relative; 
  flex: 1;
  

}

.flex-grid-app-explain .col-text-right {
  margin-bottom: 30px;
  align-items: flex-end; 
  margin-right:50px;

}

.flex-grid-app-explain .col-text-left {
  margin-bottom: 30px;
  align-items: flex-start; 
  margin-left:50px;
  

}


.flex-grid-app-explain  .col h3{
  	text-align:left;
	color: #2a299e;
	font-weight: 500;
	font-size:40px;
}


.flex-grid-app-explain  .col h4{
  	text-align:left;
	margin-top: 0px;
	font-size:20px;

}

.flex-grid-app-explain  .col-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-grid-app-explain  .col img{
 	align-items: center;
  	justify-content: center;
	position: absolute; 
	height:auto;
	width:500px;
	z-index: 1;
	transform: translateY(-25px);
}


.svg-background {
	position: absolute;
	height:100%;
	width:auto;
}


.js-scrolling-image img {
	width:500px;
	height:auto;
}

@media (max-width: 400px) {
  .flex-grid-app-explain  {
    display: block;
  }
  .flex-grid-app-explain	  .col
  {
    width: 100%;
    margin: 0 0 10px 0;
  }
}


p {
  font-size: 16px;
  line-height: 24px;
  color: #889DB8;
  transform: translateY(20px);
  transition: all 0.4s ease;
  transition-delay: 0.3s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 520px) {
  p {
    font-size: 14px;
    line-height: 20px;
  }
}



.slider-body {
  background: #fed201;
  margin-left: 0;
  width:100%;
  height: 100%;
  display: flex;
}

.swiper-wrapper {
  top:10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.swiper-container {
  width: 100%;
  position: relative;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  border-radius: 10px;
}

.slider-image-wrapper {
  height: 300px;
  width: 100%;
  overflow: hidden;

}

.slider-item {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  opacity: 0;
  cursor: -webkit-grab;
  cursor: grab;
}
.slider-item-content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
}
.slider-item-content > * {
  opacity: 0;
  transform: translateY(20px);
}

.swiper-slide img{
  display:none;
  
}
.swiper-slide-active img{
  display:inline;
}

.swiper-slide-prev {
	opacity: 0;
}

.swiper-slide-active .slider-item-content > * {
  transform: translateY(0px);
  opacity: 1;
}

.slider-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%,60px);
  z-index: 1;
  width: auto !important;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  font-size: 12px;
  opacity: 1;
  background: #2a299e;
  display: inline-block;
  margin-right: 8px;
  margin-top:1px;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  background: #2a299e;
  width: 20px;
  border-radius: 10px;
}

.slider-buttons {
  position: absolute;
  display: flex;
  top: 100%;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  position: relative;
  margin-left: 4px;
}
.swiper-button-next:before,
.swiper-button-prev:before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.2s;
}
.swiper-button-next:hover:before,
.swiper-button-prev:hover:before {
  width: 100%;
}

.content{
    position:absolute;
    display: flex; 
    gap: 10px;
    top:10%;
    left:10%;
    justify-content: center;
    padding-left:5%;
    color:#fff;
    opacity:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}



.fade-in{
    opacity:1;
}

.chatbox-overlay{
   display:inline-block;
   background-color: #ec632e;
   font-weight:bold;
   border-radius: 40px;
   color:white;
   justify-content: center;
   padding: 5px 10px 5px 10px;
 }
 
 .caption{
   display:block;
   font-size:13px;
   line-height:1.4;
   transform:translateX(50px);
   opacity:0;
   transition:opacity .3s ease, transform .7s ease;
 }
 

 
.show{
  transform:translateX(0);
  opacity:1;
}


.commercial-partner { 	
    margin: 0 auto;
    padding-bottom: 20px;
    height: auto;
    gap: 30px;
    max-width: 1020px;
}
	
.commercial-partner-title {
	text-align: center;
	padding-right:75px;
	padding-left:75px;
	margin-top: 75px;
    color: #2a299e;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    align-items: center;
    gap: 10px

}
.commercial-partner-title-bottom {
	text-align: center;
	padding-right:75px;
	padding-left:75px;
	margin-top: 50px;
    color: #2a299e;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    align-items: center;
}


.commercial-partner-title::after, .commercial-partner-title::before {
    content: " ";
    flex: 1;
    height: 7px;
    border-top: 3px solid #2a299e;
    border-bottom: 3px solid #2a299e;
}

.commercial-partner-title-bottom::after, .commercial-partner-title-bottom::before {
    content: " ";
    flex: 1;
    height: 7px;
    border-top: 3px solid #2a299e;
    border-bottom: 3px solid #2a299e;
}


.commercial-flex-logo {
    align-items: center;
    justify-content: center;
	margin-top:25+px;
	display:flex;	
	flex-wrap: wrap;
	width: auto;
	padding-right:100px;
	padding-left:100px;
	gap: 0px;
}

.flex-image {
	width: 300px;
	height: auto;
}


.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
}


/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}


.shadow-effect {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	border: 1px solid #ececec;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}
#customers-testimonials .shadow-effect p {
	font-family: inherit;
	font-size: 17px;
	line-height: 1.5;
	margin: 0 0 17px 0;
	font-weight: 300;  
	margin-bottom: 30px;
}
.testimonial-name {
	margin: -17px auto 0;
	display: table;
	width: auto;
	background: #2a299e;
	padding: 9px 35px;
	border-radius: 12px;
	text-align: center;
	color: #fff;
	box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}
#customers-testimonials .item {
	text-align: center;
	padding: 25px 10px 25px 10px;
	opacity: 0.2;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.owl-carousel .owl-item img {
	transform-style: preserve-3d;
	max-width: 90px;
	margin: 0 auto 0;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
	background:#2a299e;	
	transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots {
	display: inline-block;
	width: 100%;
	text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot {
	display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
	background:#2a299e;	
	display: inline-block;
	height: 20px;
	margin: 0 2px 5px;
	transform: translate3d(0px, -50%, 0px) scale(0.3);
	transform-origin: 50% 50% 0;
	transition: all 250ms ease-out 0s;
	width: 20px;
}



@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 480px){
  
	.bg--yellow {
		height: 850px;
		}
		
	.landing-page-flex {
		transform: translate(0,-60px);
		flex-wrap: wrap;
		justify-content: center;
		}
		
	.slider-body {
		justify-content: center;
	
	}
	
	.landing-page-head {
		display: flex;
		flex-direction: column;
		text-align:center;
		width: 1000px;
		justify-content: center;
  		align-items: center;
		
	}
	
	.header__title {
		text-align:center;
		font-size: 120px; 	
	}
	.header__subtitle {
		text-align:center;
		font-size: 40px;	
		width: 700px;
	}
	
	.services__link--button {
		margin-top:30px;
	}
	.swiper-container  {
		margin-top: 50px;
		max-width: 650px;
		max-height: 1000px;
	}
	
	.slider-image-wrapper {
		height: auto;
	}
	
	.swiper-pagination {
	  	transform: translate(-50%,95px);
	}
	
	.header__link {
		font-size: 20px;
	}
	
	.wave {
		transform: translate(0,1px);
	}
	
}	
	